.all{
/* height : 5rem; */
display: flex;
margin-bottom: 1rem;
justify-content: space-between;
background-color:#E8E8E8;
}
.left-details
{
    display: flex;
}
.week
{
    border: solid;
    padding: 0.5rem;
     margin: 1rem;
     background-color: white; 
}
.hos-time{
    display: flex; 
     flex-direction:column;
}
.hos-time > .time-class{
    display: flex;
    flex-direction: row;
    margin-left: 0rem;
    margin-right: 0rem  ;
}
.right-details
{
     display: flex; 
    padding: 2rem;
}
.right-details > button
{
    margin: 0.5rem;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    color: white;
    font-size: 0.8em;
    background-color: #4797d4;
    border: 2px solid #4797d4;
}