
.nav-class >nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
    .nav-class >nav > img{
    width: 35%;
    margin: 5px;
    margin-top: 7px;
    margin-bottom: 1rem;
    margin-left: 0.9rem;
    }
    .nav-class > nav > i{
    padding: 9px; 
    font-size: 18px;
    }
    
    .nav-class > nav > div{
    display: none;
    }
    
    @media only screen and (min-width:700px){
    .nav-class >nav > img{
    width: 20%;
    margin: 1rem;
    margin-bottom: 1rem;
    }
    .nav-class > nav > i{
    margin: 1rem;
    }
    
    .nav-class > nav > div{
    display: none;
    }
    } 
    
    @media only screen and (min-width:1000px){
    
    .nav-class >nav
    {
    display: flex;
    justify-content: space-between;
    margin-left:40px ;
    }
    .nav-class >nav>i{
    display: none;
    }
    .nav-class > nav > .nav-classContent
    {
    display:flex;
    justify-content:space-between;
    width:45%;
    margin-top: 0.4rem;
    }
    .nav-class > nav > .nav-classButton
    {
    display: flex;
    justify-content: center;
    
    }
    .nav-class > nav > .nav-classButton> .nav-button-white
    {
    width:140px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    color: rgba(3, 3, 66, 0.972);
    border-color: darkblue ;
    margin: 10px;
    }
    .nav-class >nav>.nav-classButton >.nav-button
    {
    width:140px;
    height: 40px;
    border-radius: 5px;
    background-color: #021433;
    color: #fff;
    border-color: darkblue ;
    margin: 10px;
    }
    
    
    .nav-class > nav > i{
    padding: 9px; 
    float: right;
    }
    .nav-class > nav > .logo{
    width: 10% 
    }
    
}
body {
    height: 100%;
   
    display: flex;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal; */
        flex-flow: column;
  }
  
  .container-login {
    background: #9cbfda;
  
      
       
    display: flex;
            justify-content: center;
            align-items: center;
    padding: 1.5rem;
  }
  
  .container-login .card-box {
  
    height: fit-content;
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    margin-top: 3rem;
    
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .container-login .card-box .heading {
    padding: 1.25rem;
    text-align: center;
    border-bottom: 1px solid #999999;
  }
  
  .container-login .card-box .heading h1 {
    color: #0173b2;
    font-size: 26px;
  }
  
  .container-login .card-box form .input-class {
    display: flex;
            flex-direction: row;
            align-items: center;
    border: 1px solid #999999;
    border-radius: 2px;
    margin: 1rem;
  }
  
  .container-login .card-box form .input-class2 {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
  }
  .description{
    margin-left: 1rem;
  }

  .container-login .card-box form .input-class2 input{
   width: 42%;
   padding: 1rem;
  }
  
  .checkbox-class
  {
    justify-content: center;
    margin-left: 11rem;
  }
  .container-login .card-box form .input-class input {
    width: 100%;
    padding: 1rem;
    border: none;
    color: #999999;
    font-family: 'Nexa-Bold';
    font-size: 0.9rem;
  }
  
  .container-login .card-box form .input-class .dropdown select{
    /* color: #999999; */
   
    margin: 0rem;
    width: 1.4rem;
    padding-top: 2rem;
  }
  
  .container-login .card-box form .button-class {
    margin: 1rem;
  }
  
  .container-login .card-box form .button-class button {
    width: 100%;
    padding: 1rem;
    font-family: 'Nexa-Bold';
    letter-spacing: 5px;
    color: #ffffff;
    background-color: #2a2d3e;
    border: none;
  }
  
  .container-login .card-box form .button-class button i {
    float: right;
  }
  
  .container-login .card-box form .end-class {
  
    display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
  }
  
  .container-login .card-box form .end-class p {
    font-family: 'Nexa-Bold';
    font-size: 0.9rem;
    color: #999999;
  }
  
  .container-login .card-box form .end-class a {
    color: #0173b2;
    font-family: 'Nexa-Bold';
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  .footer {
    padding: 2rem 1rem;
    background: #9cbfda;
    text-align: center;
  }
  
  .footer p {
    color: #000000;
    font-family: 'Nexa-Bold';
    font-size: 0.9rem;
  }
  .container-login >.card-box>.input-class>.dropdown
  {
      padding-left:1rem ;
  }
  @media screen and (min-width: 1024px) {
    .card-box {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  