nav{
  background-color: beige
}
body {
  height: 100%;
 font-style: italic;
  display: flex;
   flex-flow: column;
}
#heading{
  font-size: 2rem;
  margin-left: 2rem;
  font-style: initial;
}
#fname{
  height: 3rem;
  width: 50%;
  margin: 2rem;
  margin-right: 0.5rem;
}
.Search > button
{
  width: 10rem;
  height: 3.5rem;
  background-color: #000000;
  color: #fff;
  font-size: 1rem;
}
.container {
	margin: 0 auto;
    max-width: 793px
}
.related
{
  display: flex;
  flex-direction: column;
}
.related > button{
  height: 2rem;
margin: 0.2rem;
background-color: darkred;
color: white;
font-size: 1rem;
}

.related > .historybtn > button
{
height: 5rem;
margin: 0.2rem;
background-color: goldenrod;
color: white;
font-size: 1rem;
}

.grid
{
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 2rem;
}
.blog-post {
	background-color: #fff;
  box-shadow: 0px 9px 44px rgba(50, 50, 50, 1), 11px 14px 13px rgba(60, 60, 60, 0.1);
	border-radius: 4px;
	padding: 40px;
	margin: 20px 0;
}

.title {
	margin: 0;
    margin-top: 1.5rem;
}

.text {
	color: #555;
	margin: 20px 0;
}

.user-info {
	display: flex;
	align-items: center;
}

.user-info img {
	border-radius: 50%;
	height: 30px;
	width: 30px;
}

.user-info span {
	font-size: 13px;
	margin-left: 10px;
}
.container > .blog-post >.flex{
  display: flex;
  justify-content: space-between;

}
#nxt
{
  color: #fff;
    background-color:seagreen;
    width: 4rem;
    /* height: 2.5rem; */
    font-size: 1rem

}
#refresh{
  float: right;
    color: white;
    background: cornflowerblue;
    height: 2rem;
    margin-right: 2rem;
}
#imge{
  width: 100%;
  height: 9rem;

}
#imge > img{
  width: 100%;
  height: 100%;
}