body {
  background-color: white;
  border-bottom: 0.3rem solid skyblue;
  
  }
  @font-face {
  font-family: LightFont;

  src: url(Nexa-Light.otf);
  }
  @font-face {
  font-family: BoldFont;
 
  src: url(Nexa-Bold.otf);
  }
  h1,h2,h3{
  font-family: BoldFont;
  }
  h1{
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  }
  h3{
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 1.5rem;
  }
  h2{
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  }
  /* h1{
    font-size: 1.9rem;
    } 
    h2{
    font-size: 1.3rem;
    }
    h3
    {
    font-size: 1.44rem;
    } */
  p{
  font-family: LightFont;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: normal;
  } 

  .nav-class > nav {
    display: flex;
    justify-content: center;
  }

  .nav-class > nav > .nav-img
  {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
  .nav-class > nav > .nav-img > img
  {
    width: 100%;
    height: 100%;
  }
  .nav-class > nav > .nav-heading > h1{
   font-size: 2rem;
   font-style: italic;
  }
  

  #closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #closebtn:hover {
    color: black;
  }