<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="signup.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="script.js"></script>
</head>
<body>
    <div class='nav-class'>
        <nav>
        <img class = 'logo' src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo">
        <div class = 'nav-classContent'>
        <p onclick="window.location.href = 'doctor.html'">Doctors</p>
        <p onclick="window.location.href = 'hospital.html'">Hospitals</p>
        <p>Treatment</p>
        <p>Other Services</p>
        <p>About</p>
        </div>
        <div class = 'nav-classButton'>
        <button class='nav-button-white'>Login / Sign Up</button>
        <button class='nav-button'>Get a Quote</button>
        </div>
        <i class="fas fa-bars" onclick="ALERTFunction()"></i>
        </nav>
        </div>
        <div class="container-login">
            <div class="card-box">
              <div class="heading">
                <h1>Congratulations <%= userName %> </h1>
                <p>You are one step away to be the part of medical portal</p>
              </div>
              <form action="/docSignUp" method="POST">
                  <div class = "description">
                    <h2>Description</h2>
                    <textarea  name="description" rows="8" cols="60" >
                  
                    </textarea>
                  </div>
                <div class="input-class2">
                  <input type="txt" name = "speciality" placeholder="Enter speciality"  />
                  <input type="txt" name = "qualification"  placeholder="Enter qualification"  />
                </div>
                <div class="input-class2">
                    <input type="txt"  name = "treatmentList" placeholder="Enter treatmentList"  />
                    <input type="txt"  name = "location" placeholder="Enter location"  />
                  </div>
                  <div class="input-class2">
                    <input type="txt"  name = "hospital" placeholder="Enter hospital"  />
                    <input type="txt"  name = "achivements" placeholder="Enter achivements"  />
                  </div>
                  <div class="input-class2">
                    <input type="txt"  name = "awards" placeholder="Enter awards"  />
                    <input type="txt" name = "experience" placeholder="Enter experience"  />
                  </div>
                  <div class="input-class2">
                    <input type="txt" name = "fees" placeholder="Enter fees"  />
                    <input type="file" name="photo">
                  </div>
                <div class="button-class">
                  <button>LOGIN <i class="fa fa-arrow-right"></i>
                  </button>
                </div>
      
                <div class="end-class">
                  <p>Not registered ?</p>
                  <a href="signup.html">Sign Up</a>
                </div>
              </form>
            </div>
          </div>
      
          <div class="footer">
            <p>All rights reserved. &copy; Tvastra 2020</p>
          </div>
      
</body>
</html>