<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="signup.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="script.js"></script>
</head>
<body>
    <div class='nav-class'>
        <nav>
        <img class = 'logo' src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo">
        <div class = 'nav-classContent'>
        <p onclick="window.location.href = 'doctor.html'">Doctors</p>
        <p onclick="window.location.href = 'hospital.html'">Hospitals</p>
        <p>Treatment</p>
        <p>Other Services</p>
        <p>About</p>
        </div>
        <div class = 'nav-classButton'>
        <button class='nav-button-white'>Login / Sign Up</button>
        <button class='nav-button'>Get a Quote</button>
        </div>
        <i class="fas fa-bars" onclick="ALERTFunction()"></i>
        </nav>
        </div>
        <div class="container-login">
            <div class="card-box">
              <div class="heading">
                <h1>Sign Up</h1>
              </div>
              <form action="signUpUser" method="POST">
                <div class="input-class">
                  <input type="txt" placeholder="Enter Name" name="name"/>
                </div>
                <div class="input-class">
                  <input type="txt" placeholder="Enter Email" name="email"/>
                </div>
                 <div class="input-class">
                  <input type="password" placeholder="Enter password" name="password"/>
                </div>
                <div class="input-class">
                    <input type="txt" placeholder="Select your gender" name="gender"/>
                        <div class="dropdown">
                          <select>
                            <option value = ""> </option>
                            <option value = "2">Male</option>
                            <option value = "3">female</option>
                            <option value = "4">Other</option>
                          </select>
                    </div>
             
                  </div>

                  
                <div class="input-class" >
                    <input type="date" placeholder="dd/mm/yyyy" name="date"/>
                  </div>

                  <div class="input-class">
                    <input type="tel" placeholder="Enter Mobile number" name="phone"/>
                  </div>

                  
                  <div class="input-class2">
                    
                    <input type="txt" placeholder="Enter City" name="city"/>
                    <input type="txt" placeholder="Enter State" name="state"/>
                    
                </div>



                <div class="input-class">
                    <input type="txt" placeholder="Select your Country" name="country"/>

                        <div class="dropdown">
                          <select>
                            <option value = ""> </option>
                            <option value = "india">India</option>
                            <option value = "usa">USA</option>
                            <option value = "china">China</option>
                          </select>
                    </div>
             
                  </div>
                  <div class = "checkbox-class">
                  <input type="checkbox" id="vehicle1" name="doctorchec" value="doctor">
                  <label for="vehicle1"> Are you doctor?</label><br>
                  </div>
                <div class="button-class">
                  <button>Sign up<i class="fa fa-arrow-right"></i>
                  </button>
                </div>
      
                <div class="end-class">
                  <p>Already registered ?</p>
                  <a href="/">Sign In</a>
                </div>
              </form>
            </div>
          </div>
      
          <div class="footer">
            <p>All rights reserved. &copy; Tvastra 2020</p>
          </div>

</body>
</html>