<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="travastraPlus.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="script.js"></script>
</head>
<body>
    <div class='nav-class'>
        <nav>
        <img class = 'logo' src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo">
        <div class = 'nav-classContent'>
        <p onclick="window.location.href = 'doctor.html'">Doctors</p>
        <p onclick="window.location.href = 'hospital.html'">Hospitals</p>
        <p>Treatment</p>
        <p>Other Services</p>
        <p>About</p>
        </div>
        <div class = 'nav-classButton'>
        <button  onclick="window.location.href='/index'" class='nav-button-white'>Home</button>
        <button class='nav-button'>Get a Quote</button>
        </div>
        <i class="fas fa-bars" onclick="ALERTFunction()"></i>
        </nav>
        </div>
        <div class="herosec">
            <button class="plus">PLUS</button>
            <h1>Health care plans for you and your family.</h1>
            <p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses.</p>
        </div>
    
        <div class="tvastra-plans-hero-section">
            <div class="tvastra-plans">
                <h1>Select a Tvastra Plus Healthcare Plan</h1>
                <p class="plan-inf">All plus plans are of 4 adults and 2 children</p>
                
                <div class="line shortline"></div>
                
                <div class="plans-class">
                    
                    <div class="plan basic">
                        <h2>Basic Plan</h2>
                        <div class="line short"></div>
                        <p>Unlimited Consultation with any speciality</p>
                        <p>20% off on prescription medicines</p>
                        <p>20% off on test & checkups</p>
                        <h3>₹2,999 <span class="year">/year</span></h3>
                        <p class="plan-details">View Plan Details</p>
                        <button>Buy Plan</button>
                    </div>
        
                    <div class="plan advance">
                        <p class="popular">Popular</p>
                        <h2>Advance Plan</h2>
                        <div class="line short"></div>
                        <p>Unlimited Consultation with any speciality</p>
                        <p>20% off on prescription medicines</p>
                        <p>20% off on test & checkups</p>
                        <h3>₹3,999 <span class="year">/year</span></h3>
                        <p class="plan-details">View Plan Details</p>
                        <button>Buy Plan</button>
                    </div>
        
                    <div class="plan comprehensive">
                        <h2>Comprehensive Plan</h2>
                        <div class="line short"></div>
                        <p>Unlimited Consultation with any speciality</p>
                        <p>20% off on prescription medicines</p>
                        <p>20% off on test & checkups</p>
                        <h3>₹5,999 <span class="year">/year</span></h3>
                        <p class="plan-details">View Plan Details</p>
                        <button>Buy Plan</button>
                    </div>
    
                </div>
            </div>
        </div>
    
        <div class="ratings-hero-section">
            <h1>Trusted By 2 Crore+ users every month</h1>
            <p>Tvastra is the leading healthcare technology company in India. 
                We began in 2009 and today we help 2 crore customers every month.
            </p>
    
            <div class="overall-rating-class">
                <div class="total-rating">
                    <h2>4.5</h2>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <p>1000+ Reviews</p>
                </div>
                
    
                <div class="scoreboard">
                    <p>5</p>
                    <div class="bar">
                        <div class="frequency five-star" style="width: 75%;">
                        </div>
                    </div>
    
                    <p>4</p>
                    <div class="bar">
                        <div class="frequency four-star" style="width: 40%;">
                        </div>
                    </div>
    
                    <p>3</p>
                    <div class="bar">
                        <div class="frequency three-star" style="width: 40%;">
                        </div>
                    </div>
    
                    <p>2</p>
                    <div class="bar">
                        <div class="frequency two-star" style="width: 30%;">
                        </div>
                    </div>
                    <p>1</p>
                    <div class="bar">
                        <div class="frequency one-star" style="width: 10%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="icon-container">
            <div class="icon-point">
                <i class="fas fa-users"></i>
                <h2>2 Crore+</h2>
                <p>Monthly customers</p>
            </div>
    
            <div class="icon-point">
                <i class="fas fa-user-md"></i>
                <h2>100,000</h2>
                <p>Verified Doctors</p>
            </div>
    
            <div class="icon-point">
                <i class="fas fa-pills"></i>
                <h2>10 Lakh+</h2>
                <p>Medicine Orders Delivered</p>
            </div>
    
            <div class="icon-point">
                <i class="fas fa-users"></i>
                <h2>5 Crore+</h2>
                <p>Doctor Appointments</p>
            </div>
        </div>
    
        <div class="advantages-hero">
            <p>benifits of Plus Membership</p>
            <div class="line thick"></div>
    
            <div class="advantages-grid">
                
                <div class="checkpoints-hero">
                    <h1>Zero fees for in-clinic consultation</h1>
                    <div class="checkpoints">
                        <i class="fas fa-check-circle"></i>
                        <p>
                            Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                            netwrok at Rs.0 consultation fees.
                        </p>
        
                        <i class="fas fa-check-circle"></i>
                        <p>
                            Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                            netwrok at Rs.0 consultation fees.
                        </p>
                    </div>
                </div>
    
                <div class="hospitals-onboard-grid">
                    <h1>Top Hospital Onboarded</h1>
                    <div class="hospitals-onboard">

                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg
                        " alt="" srcset="" class="left">
                        
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg
                        " alt="" srcset="" class="right">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg
                        " alt="" srcset="" class="left">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg
                        " alt="" srcset="" class="right">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg
                        " alt="" srcset="" class="left">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg
                        " alt="" srcset="" class="right">
                    </div>
                    <p>+ More Hospitals</p>
                </div>
            </div>
        </div>
    
        <div class="features">
            <div class="feature feature-one">
                <h1>Unlimited online consultation with top doctors</h1>
                <div class="checkpoints">
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Connect under  2 minutes  on text he Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
                    <i class="fas fa-check-circle"></i>
                    <p>
                        All online cons at top clinics & hospitals in the Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
                </div>
                
            </div>
            <img src="https://www.cantechletter.com/wp-content/uploads/2016/05/AkiraApp.jpg" alt="" class="feature-img-one">
    
            <div class="feature feature-two">
                <h1>Flat 20% off on presciption medicine lab test & check ups</h1>
                <div class="checkpoints">
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
                </div>
            </div>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="" class="feature-img-two">
    
            <div class="feature feature-three">
                <h1>2 Free health checkups</h1>
                <div class="checkpoints">
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
                </div>
            </div>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg
            " alt="" class="feature-img-three">
        </div>
    
        <div class="tests-hero">
            <h1>60 Tests Included</h1>
            <div class = "tests-list">
                <div class="test">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="" srcset="">
                    <h2>Vitamin Profile</h2>
                    <p>2 Tests</p>
                </div>
    
                <div class="test">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg
                    " alt="" srcset="">
                    <h2>Thyroid Profile</h2>
                    <p>2 Tests</p>
                </div>
    
                <div class="test">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg
                    " alt="" srcset="">
                    <h2>Iron Profile</h2>
                    <p>2 Tests</p>
                </div>
    
                <div class="test">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg
                    " alt="" srcset="">
                    <h2>Liver Profile</h2>
                    <p>2 Tests</p>
                </div>
            </div>
            <div class="carousel">
                <div class="dot active"></div>
                <div class="dot"></div>
            </div>
        </div>
    
        <div class="love-hero">
            <div class="love">
                <h1>Why We Love Tvastra</h1>
                <button>PLUS</button>    
            </div>
            <div class="reviews-hero">
                <div class="review">
                    <h3>
                        "Wonderful experience with Tvastra Plus it helped me in saving a lot of amount
                        as it provides free consultations with best doctors."
                    </h3>
                    <div class="review-user">
                        <img src="http://pngimg.com/uploads/doctor/doctor_PNG16039.png" alt="" srcset="">
                        <h2>Rishab tiwari</h2>
                        <h4>Advance Plan User</h4>
                    </div>
                </div>
    
                <div class="review">
                    <h3>
                        "Wonderful experience with Tvastra Plus it helped me in saving a lot of amount
                        as it provides free consultations with best doctors."
                    </h3>
                    <div class="review-user">
                        <img src="http://pngimg.com/uploads/doctor/doctor_PNG16039.png" alt="" srcset="">
                        <h2>Mini agarwal</h2>
                        <h4>Comprehensive Plan User</h4>
                    </div>
                </div>
    
                <div class="review">
                    <h3>
                        "Wonderful experience with Tvastra Plus it helped me in saving a lot of amount
                        as it provides free consultations with best doctors."
                    </h3>
                    <div class="review-user">
                        <img src="http://pngimg.com/uploads/doctor/doctor_PNG16039.png" alt="" srcset="">
                        <h2>Prachi gupta</h2>
                        <h4>Advcance Plan User</h4>
                    </div>
                </div>
            </div>
        </div>




    <section class="about_data">
        <h1>Frequently Asked Question</h1>
            <div class="about_container">
            <div class="about_section">
                <div class="about_list">
                    
                    <div class="about_specialization">
                        
                        <h4>How does and hospital work </h4>
                        <div class="circle rotate"onclick="work1(1)">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <p id="para_id1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt at impedit tempore, obcaecati blanditiis eligendi placeat, ipsa nisi ea dolorum temporibus dignissimos, quisquam soluta corporis perspiciatis et non? Quia, eligendi.</p>
                    </div> 
                    <div class="about_specialization">
                        
                        <h4>Are there a doctorork?</h4>
                        <div class="circle" onclick="work1(2)">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <p id="para_id2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt at impedit tempore, obcaecati blanditiis eligendi placeat, ipsa nisi ea dolorum temporibus dignissimos, quisquam soluta corporis perspiciatis et non? Quia, eligendi.</p>
                    </div> 
                    <div class="about_specialization">
                        <h4>How does theation work?</h4>
                        <div class="circle"onclick="work1(3)">
                            <i class="fas fa-chevron-down"></i>
                        </div>
    
                        <p id="para_id3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt at impedit tempore, obcaecati blanditiis eligendi placeat, ipsa nisi ea dolorum temporibus dignissimos, quisquam soluta corporis perspiciatis et non? Quia, eligendi.</p>
                    </div> 
                    <div class="about_specialization">
                        <h4>Is Portea Portea Wallet?</h4>
                        <div class="circle"onclick="work1(4)">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <p id="para_id4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt at impedit tempore, obcaecati blanditiis eligendi placeat, ipsa nisi ea dolorum temporibus dignissimos, quisquam soluta corporis perspiciatis et non? Quia, eligendi.</p>
                    </div> 
                    <div class="about_specialization">
                        
                        <h4>Refund</h4>
                        <div class="circle"onclick="work1(5)">
                            <i class="fas fa-chevron-down"></i>
                        </div>
    
                        <p id="para_id5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt at impedit tempore, obcaecati blanditiis eligendi placeat, ipsa nisi ea dolorum temporibus dignissimos, quisquam soluta corporis perspiciatis et non? Quia, eligendi.</p>
                    </div> 
                    <div class="about_specialization">
                        <h4>What is a Family ID?</h4>
                        <div class="circle"onclick="work1(6)">
                            <i class="fas fa-chevron-down"></i>
                        </div>
    
                        <p id="para_id6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt at impedit tempore, obcaecati blanditiis eligendi placeat, ipsa nisi ea dolorum temporibus dignissimos, quisquam soluta corporis perspiciatis et non? Quia, eligendi.</p>
                    </div> 
                    <div class="about_specialization">
                        
                        <h4>Who as Family?</h4>
                        <div class="circle"onclick="work1(7)">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <p id="para_id7">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt at impedit tempore, obcaecati blanditiis eligendi placeat, ipsa nisi ea dolorum temporibus dignissimos, quisquam soluta corporis perspiciatis et non? Quia, eligendi.</p>
                    </div> 
                </div>
            </div>
            </div>
        </section>
    















<!-- FOOTER CLASS -->

<div class ="footerClass">

    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="alternate_text" style="width:150px">
    
    <h2>TVASTRA</h2>
    <div class = "container-8 datai"> 
    <p>Doctor</p>
    <p>Hospital</p>
    <p>Treatment</p>
    <p>Other Service</p>
    <p>FAQs</p>
    </div>
    <div class = "container-8 dataii">
        <h2>FOLLOW US</h2>
        <p>Facebook</p>
        <p>Pinterest</p>
        <p>Twitter</p>
        <p>Google<sup>+</sup></p>
        <p>Instagram</p>
    </div>
    
    <footer>All Right Reserved. &copy; tvastra 2018</footer>
    
    <div id="footer_icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
    </div>
    </div>
    







</body>
</html>