.Hero-section
{
background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png);
align-items: center;
text-align: center;
color: white;
background-position: bottom;
background-size: cover;
padding: 6rem 2rem;
}
.Hero-section > h1
{
    font-size: 2.2rem;
    font-family: BoldFont;
}
.Hero-section > h2
{
    font-size: 1rem;
    font-family: LightFont;
}

.about_data{
    margin-top:2rem ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 6%;
    padding-bottom: 2rem;
}
.about_specialization>p{
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #c2ddef;
}
.about_data>.about_container{
    display: grid;
    grid-template-columns: 59vw 28vw;
    border: 1px solid #cccc;
}

.about_data>.about_container>.about_section{
    padding: 4rem 2rem 0rem 4rem;
}
.about_data>.about_container>.about_section>.about_para{
    padding: 3rem 0 0 0;
}

.about_data>.about_container>.about_section>.about_name>h3{
    font-size: 2rem;
    color: #87ceeb;
    position: relative;
}
.about_data>.about_container>.about_section>.about_name>h3::before{
    content: "";
    width: 3.7rem;
    border-bottom: 2px solid #3799ff;
    position: absolute;
    left: -65px;
    top: 13px;
    z-index: 1;
}

.about_list{
    padding-bottom: 2rem;
}
.about_data>.about_container>.about_section>.about_para>p{
    font-size: 1.4rem;
    line-height: 1.9;
}
.image_cont{
    width: 100%;
    background-size: cover;
}
.btn-class{
    width: 100%;
    padding: 1rem;
    font-family: 'BoldFont';
    letter-spacing: 5px;
    color: #ffffff;
    background-color: #2a2d3e;
    border: none;
    margin-top: 0.5rem;
}
.about_image{
    padding: 4rem 4rem 0 2rem;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
}
.about_specialization{
    border-top: 1px dotted #cccc;
    border-bottom: 1px dotted #cccc;
    padding: 2rem 0;
    align-items: center;
}
.about_specialization>i{
    font-size: 1.5rem;
    color: #87ceeb;;
}

.about_specialization>h4{
    display: inline-block;
    font-size: 1.4rem;
    font-family: BoldFont;
    color: #87ceeb;
    padding-left: 1rem;
}
.image_cont>img{
    width: 100%;
    height: 100%;
}
.active > p{
    display: block;
}
.circle{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #87ceeb;
    float: right;
}
.circle:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1024px){

    .about_data{
        padding: 0 1rem;
    }
    .about_heading{
        padding: 1rem;
    }

    .about_data>.about_container {
        grid-template-columns: 63vw 33vw;
    }
    .about_data>.about_container>.about_section {
        padding: 2rem 1rem 0rem 2rem;
    }
    .about_data>.about_container>.about_section>.about_para {
        padding: 1rem 0 0 0;
    }
    .about_data>.about_container>.about_section>.about_name>h3 {
        font-size: 1.5rem;
    }
    .about_data>.about_container>.about_section>.about_name>h3::before {
        width: 1.7rem;
        left: -33px;
    }
    .about_data>.about_container>.about_section>.about_para>p{
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .image_cont {
        height: 30%;
    }
    
    .about_image {
        padding: 0;
        padding-top: 2rem;
        padding-right: 1rem;
    }
    .about_specialization>h4 {
        font-size: 1.2rem;
    }
    .about_specialization>i {
        font-size: 1rem;
      
    }   

    .about_location_beds>div{
      display: flex;
        padding-bottom: 0rem;
    }
}

@media only screen and (max-width: 700px){

    .about_data{
        display: grid;
        padding-bottom: 1rem;
    }
    .about_data>.about_container{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
    .about_image{
        padding-left: 1rem;
        padding-top: 1rem;
        grid-column-start: 1;
    }
    .image_cont{
        height: fit-content;
    }
    .about_data>.about_container>.about_section {
        padding: 1rem 1rem 0rem 1rem;
        width: 91%;
    }
    .about_data>.about_container>.about_section>.about_name>h3::before {
        width: 1rem;
        left: -17px;
    }
}
