.all{
/* height : 5rem; */
display: flex;
justify-content: space-between;
background-color:#E8E8E8;
}
.left-details
{
    display: flex;
}
.week
{
    border: solid;
    padding: 1rem;
     margin: 1rem;
     background-color: white; 
}
.hos-time{
    display: flex; 
     flex-direction:column;
}
.hos-time > .time-class{
    display: flex;
    flex-direction: row;
}
.right-details
{
     display: flex; 
    padding: 2rem;
}
.right-details > button
{
    margin: 0.5rem;
}