
body {
    height: 100%;
   
    display: flex;
    flex-flow: column;
  }
  
  .container-login {
    background: #9cbfda;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  
  .container-login .card-box {
  
    height: fit-content;
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    margin-top: 3rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .container-login .card-box .heading {
    padding: 1.25rem;
    text-align: center;
    border-bottom: 1px solid #999999;
  }
  
  .container-login .card-box .heading h1 {
    color: #0173b2;
    font-size: 26px;
  }
  
  .container-login .card-box form .input-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #999999;
    border-radius: 2px;
    margin-top:1rem ;
  }
  
  .container-login .card-box form .input-class input {
    width: 100%;
    padding: 1rem;
    border: none;
    color: #999999;
    font-family: 'Nexa-Bold';
    font-size: 0.9rem;
    
  }
  
  .container-login .card-box form .input-class i {
    border: none;
    color: #999999;
    padding: 1rem;
    font-size: 26px;
  }
  
  .container-login .card-box form .button-class {
    /* margin: 1rem; */
    margin-top: 1rem;
  }
  .container-login .card-box form .option label
  {
    margin-left: 1rem;
  }
  .container-login .card-box form .button-class button {
    width: 100%;
    padding: 1rem;
    font-family: 'Nexa-Bold';
    letter-spacing: 5px;
    color: #ffffff;
    background-color: #2a2d3e;
    border: none;
  }
  
  .container-login .card-box form .button-class button i {
    float: right;
  }
  
  .container-login .card-box form .end-class {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
  }
  
  .container-login .card-box form .end-class p {
    font-family: 'Nexa-Bold';
    font-size: 0.9rem;
    color: #999999;
  }
  
  .container-login .card-box form .end-class a {
    color: #0173b2;
    font-family: 'Nexa-Bold';
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  .footer {
    padding: 2rem 1rem;
    background: #9cbfda;
    text-align: center;
  }
  
  .footer p {
    color: #000000;
    font-family: 'Nexa-Bold';
    font-size: 0.9rem;
  }
  
  @media screen and (min-width: 1024px) {
    .card-box {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  
.inner{
    margin: 1.5rem;
}





























