#map{
    height: 300px;
    width: 100%;
}

.contain-map{
    padding: 20px;
}
.Hero-section
{
background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png);
align-items: center;
text-align: center;
color: white;
background-position: bottom;
background-size: cover;
padding: 6rem 2rem;
}
.Hero-section > h1
{
    font-size: 2.2rem;
    font-family: BoldFont;
}
.Hero-section > h2
{
    font-size: 1rem;
    font-family: LightFont;
}


.info-container
{
    margin: 1rem;
    display: flex;
    flex-direction:column;

}
.info-container > .grid-class
{
    display: grid;
    grid-template-columns: 20% 80%;
}
.info-container > .grid-class > .icon-container
{
    text-align: center;
    margin-top: 2rem;
    color: #0086b3;
}



@media only screen and (min-width:700px){

    .info-container
    {
        margin: 1.5rem;
        display: flex;
        flex-direction:row;
        justify-content:space-around;
    }
    .info-container > .grid-class
    {
        height: auto;
    }
    
    .info-container > .grid-class > .data-container> h2{
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .info-container > .grid-class > .data-container> p{
        margin-top: 0px;
    }
    .info-container > .grid-class > .icon-container
    {
        margin-top: 0.5rem;
        margin-right: 2rem;
        font-size: 1.3rem;
    }
    .info-container > .grid-class > .icon-container>i{
        padding-right: 3rem;
    }
  
}







.bottom-class{
 background-color: #94bedd;
 padding: 1rem;
padding-top: 1.5rem;
}

.input-class > .input-field-class
{
    display: grid;
    margin: 1rem;
}
.input-class > .input-field-class>input
{
padding: 0.8rem;
border: none;
}
.bottom-class > .button-class
{
    text-align: right;
    justify-content: right;
    margin-right: 1rem;
    margin-top: 1rem;
}
.bottom-class > .button-class >button
{
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    color: white;
    background-color: #005c99;
    border:none;
}

@media only screen and (min-width:700px){

    .input-class 
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.333% 33.333% 33.333%;
    }
    .input-class > .input-field-class
    {
        display: grid;
        margin: 0.3rem;
    }
    .input-class >.input-class1
    {
        grid-column-start:1;
        grid-column-end: 2;
        grid-row-start:1;
        grid-row-end: 2;
    }


    .input-class >.input-class2
    {
        grid-column-start:1;
        grid-column-end: 2;
        grid-row-start:2;
        grid-row-end: 3;
    }
    .input-class >.input-class3
    {
        grid-column-start:1;
        grid-column-end: 2;
        grid-row-start:3;
        grid-row-end: 4;
    }
    .input-class > .input-class4
    {
        grid-column-start:2;
        grid-column-end: 3;
        grid-row-start:1;
        grid-row-end: 4;
    }

}
@media only screen and (min-width:1000px)
{

.combine-class
{
display: grid;
margin: 1rem;
grid-template-columns: 30% 70%;
}
.info-container
{
    margin: 1rem;
    display: flex;
    flex-direction:column;

}
}