  

    .poster
    {
        display: none;
    }
    
    @media only screen and (min-width:700px){

    .poster
    {
        display: none;
    }
    .filter-info
    {
        display: none;
    }
    } 
    
    @media only screen and (min-width:1000px){
    
        .filter-info
        {
            display: inline-block;
        }
  
    } 
    
    .sortingClass{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }
    .sortingClass>h3{
        font-size: 1.3rem;
    }
    .sortingClass>button{
        padding: 10px;
       
        background-color: #e6e6e6;
        border:none;
        margin-right: 1rem;
    }




    
.DoctorClass{
    text-align: center;
    /* color: #fff; */
    background-color:#fff;
    padding: 1rem;
}


.DoctorClass > .div-5{
    text-align: left;
    /* color: #fff; */
    background-color:#fff;
    border-width: thin;
    border-style: groove;
    margin-bottom: 20px;
   
}


.DoctorClass > .div-5 > .doctor-img > img{
    width: 100%;
    height: 350px;
    object-fit:cover;
}

.DoctorClass > .div-5 > .doctor-info >p{
   /* margin-left: 30px; */
    color: #021433;
    
     max-width: 100%;
}
.DoctorClass > .div-5 > .doctor-info >p > i{
margin-right: 0.9rem;
margin-left: 0.7rem;
}
.DoctorClass > .div-5 >.doctor-name> h3{
color: #87ceeb;
text-align: left;
padding: 2px;
}
.arrow
{
position: relative;
top: -9px;
}
.DoctorClass > .div-5 > .button-class> button
{

        width:200px;
        height: 40px;
        border-radius: 5px;
        background-color: #021433;
        color: #fff;
        border-color: darkblue ;
        /* margin-left: 59px; */
        margin-bottom: 20px;
        margin-top: 10px;
    
        
    
}

.DoctorClass > .div-5 > .button-class
{
    text-align: center;
}

.side-info
{
    display: none;
}

@media only screen and (min-width:700px)
{

    h3
    {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    h2
    {
        font-size: 1.1rem;
        font-weight: 500;
        color: skyblue;
        margin-bottom: 1.5rem;
 
    }
     .side-info
    {
        
        display: inline-block;
        width: 25rem;
      
    } 
    .side-info > .side-info1
    {
        border-bottom: 2px solid grey;
        margin-bottom: 2rem;
    }
    .side-info > .side-info1>.side-data
    {
        
     display: flex;
    flex-direction: row;
    }
    .side-info > .side-info1>.side-data>label
    {
        margin-left: 1rem;
    }
    
.side-info > h2{
        color: #87ceeb;
        padding: 1px;
        }

      .side-info >.side-info1 >h3> .fa-search:before {
            content: "\f002";
            color: skyblue;
        }
        .sortingClass>button{
         margin-right: 1.5rem;
        }
    

        .DoctorClass > .div-5{
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows:  15% 50% 34%; 
            margin-bottom: 0px; 
            height: 15rem;
        }
        .DoctorClass > .div-5 > .doctor-name
        {
            grid-column-start:1;
            grid-column-end: 2;
            grid-row-start:1;
            grid-row-end: 2;
           
        }
        .DoctorClass > .div-5 >.doctor-info{
            grid-column-start:1;
            grid-column-end: 2;
            grid-row-start:2;
            grid-row-end: 3;
            display: grid;
            grid-template-columns: 50% 50%;
            margin: 20px;
           
        }
        .DoctorClass > .div-5 >.doctor-info > p{
         display: flex;
         margin-top: 0px;
         margin-bottom: 0.2rem;
        }
        .DoctorClass > .div-5 > .button-class > button {
            grid-column-start:1;
            grid-column-end: 2;
            grid-row-start:3;
            grid-row-end: 4;
          margin-left: 30px;
          margin-bottom: 0rem;
          margin-top: 1.5rem;
        }
        .DoctorClass > .div-5 > .button-class
        {
              text-align: left;
        }
        .DoctorClass > .div-5 > .doctor-img
        {
            grid-column-start:2;
            grid-column-end: 3;
            grid-row-start:1;
            grid-row-end: 4;
            
        }
        .DoctorClass > .div-5 > .doctor-img>img
        {
            height:101%;
        }

        .combine-class
        {
            display: flex;
            padding-left:1.5rem;
            padding-right: .5rem;
        }

}

@media only screen and (min-width:1000px)
{
    .sortingClass{
    padding-left:2rem;
    padding-right: .3rem;
    }
    
    .combine-class > .side-info > .filter-info > button
    {
    width: auto;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
    color: grey;
    border-color: #ccc;
    border-style: solid;
    margin: 2px;
    padding-left: 10px;
    }
    .combine-class > .side-info > .filter-info > button > span {
        color: #87ceeb;
        margin-left: 0.5rem;
    }
    .combine-class > .side-info >.filter-info> .filter-heading > h3
    {
        font-size: 0.9rem;
        margin-left: 25px;
        padding: 10px;
    }
    .combine-class > .side-info >.filter-info> .filter-heading
    {
        background-color: #e6e6e6;
      
    }

    .combine-class
    {
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
        padding-left: 2rem;
    }
    .DoctorClass{
        display: inline-block;
        
    }
    .DoctorClass >.div-5
    {
        margin-bottom: 0.5rem;
    }


    .poster {
        display: block;
        width: 100%;
        height: 12.5rem;
        position: relative;
        margin-bottom: 1rem;
    }
    .poster > img {
        height: 12.5rem;
        width: 100%;
        object-fit: cover;
        transform: scaleX(-1);
        opacity: 0.25;
    }
    .poster::before {
        content: '';
        /* left: 0; */
        /* top: 0; */
        width: 100%;
        height: 100%;
        background-image: linear-gradient(#4293c5, #4293c5);
        position: absolute;
        opacity: 0.4;
        z-index: 2;
    }

    .poster label {
        position: absolute;
        z-index: 3;
        left: 4.5rem;
        top: 5.5rem;
        color: inherit;
        font-size: 1.4rem;
    }
    .poster label a {
        color: inherit;
    }


}


