.Hero-section
{
background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png);
align-items: center;
text-align: center;
color: white;
background-position: bottom;
background-size: cover;
padding: 6rem 2rem;
}
.Hero-section > h1
{
    font-size: 2.2rem;
    font-family: BoldFont;
}
.Hero-section > h2
{
    font-size: 1rem;
    font-family: LightFont;
}

.about_data{
    margin-top:2rem ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 6%;
    padding-bottom: 2rem;
}
.about_specialization>p{
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #c2ddef;
  
}
.about_data>.about_container{
    display: grid;
    grid-template-columns: 59vw 28vw;
    border: 1px solid #cccc;
}

.about_data>.about_container>.about_section{
    padding: 4rem 2rem 0rem 4rem;
}


.about_list{
    padding-bottom: 2rem;
}
.about_data>.about_container>.about_section>.about_para>p{
    font-size: 1.4rem;
    line-height: 1.9;
}



.about_specialization{
    border-top: 1px dotted #cccc;
    border-bottom: 1px dotted #cccc;
    padding: 2rem 0;
    align-items: center;
}
.about_specialization>i{
    font-size: 1.5rem;
    color: #87ceeb;;
}

.about_specialization>h4{
    display: inline-block;
    font-size: 1.4rem;
    font-family: BoldFont;
    color: #006bb3;
    padding-left: 1rem;
}

.active > p{
    display: block;
}
.circle{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #87ceeb;
    float: right;
    /* margin-left: -2rem; */
}
.circle:hover{
    cursor: pointer;
}
@media only screen and (min-width:700px){

.about_location_beds{
    display: grid;
    grid-template-columns: 40vw 13vw;

}

.about_location_beds>div{
    display: flex;
    padding-bottom: 2rem;
}
}
.about_location_beds>div>i{
    padding-right: 1rem;
    color: #87ceeb;
    align-self: center;
}
@media only screen and (max-width: 1024px){

    .about_data{
        padding: 0 1rem;
    }
    .about_heading{
        padding: 1rem;
    }

    .about_data>.about_container {
        grid-template-columns: 63vw 33vw;
    }
    .about_data>.about_container>.about_section {
        padding: 2rem 1rem 0rem 2rem;
    }
  
    .about_data>.about_container>.about_section>.about_name>h3 {
        font-size: 1.5rem;
    }
   
    .about_data>.about_container>.about_section>.about_para>p{
        font-size: 1rem;
        line-height: 1.6rem;
    }
 
  
    .about_specialization>h4 {
        font-size: 1.2rem;
    }


 
}

@media only screen and (max-width: 700px){

    .about_data{
        display: grid;
        padding-bottom: 1rem;
    }
    .about_data>.about_container{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
  
 
    .about_data>.about_container>.about_section {
        padding: 1rem 1rem 0rem 1rem;
        width: 91%;
    }

}
