
    h1{
    font-size: 1.9rem;
    } 
    h2{
    font-size: 1.3rem;
    }
    h3
    {
    font-size: 1.44rem;
    }
    

    .SearchClass{
    text-align: center;
    background-color: #94bedd;
    color: #070f35;
    padding: 1rem;
    }


    .SearchClass > .div > .flex-container{
    display: flex;
    height: 2.6rem;
    margin-bottom: 5px;
    justify-content: center;
    }
    .SearchClass > .div > .flex-container>.input-search1{
    width: 18.5rem;
    }
    .SearchClass > .input-search{
    border-style: none;
    height: 2.44rem;
    width: 20.5rem;
    }
    .SearchClass > button{
    margin-top: 1rem;
    background-color: #070f35;
    color: white;
    min-width: 100px;
    width: 10rem;
    height: 42px;
    border : 0px;
    margin-bottom: 1.4rem;
    
    }
    .SearchClass > .div > .flex-container > button{
    border-style: none;
    background-color: #fff;
    }
    
    @media only screen and (min-width:700px){
    .SearchClass{
    text-align: center;
    background-image:url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg);
    color: #070f35;
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .SearchClass > .div > .flex-container>.input-search1{
    width: 13.5rem;
    }
    .SearchClass > .div > .flex-container{
    display: inline-flex;
    height: 2.6rem;
    margin-bottom: 5px;
    justify-content: center; 
    }
    .SearchClass > p{
    color: #021433;
    }
    .SearchClass>.div
    {
    display: inline;
    }
    .SearchClass > button{
    display: inline;
    }
    .SearchClass > .input-search
    {
    display: inline;
    margin-right: -3px;
    margin-left: -3px;
    width: 17rem;
    }
}

    @media only screen and (min-width:1000px){
    
    .SearchClass{
    text-align: left;
    padding: 4rem; 
   
    }

    .SearchClass > p{
    width: 55%;
    }
    }
    
    .FacilityClass{
    text-align:center;
    /* / color:#021433; / */
    background-color:white;
    padding: 1rem;
    width: auto;
    } 
    
    .FacilityClass >.div-4Content> h1
    {
    color: #021433;
    }
    .FacilityClass >.div-4Content >p
    {
    color: #021433; font-size: 18px;
    }
    
    .FacilityClass > .btn{
    display: grid;
    grid-template-columns: 1rem auto;
    gap: 30px;
    padding: 0.1rem;
    padding-left: 1rem;
    }
    
    
    .FacilityClass > .btn {
    width:auto; 
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: larger;
    text-align: left;
    color: #ccc; 
    margin-left: 70px; 
    background-color: #fff;
    margin: 8px;
    
    
    }
    
    
    .FacilityClass > .btn:hover {
    box-shadow: 0 0 2rem lightgrey;
    /* border-color:darkblue; */
    }
    .FacilityClass > .btn>span>h2:hover{
    /* color:skyblue ;  */
    }
    .FacilityClass > .btn>h2:hover{
    /* color: #021433; */
    }
    
    .FacilityClass >.div-gridBox >.div-4img{
    max-width: 450px;
    }
    .FacilityClass >.div-gridBox >.div-4img> img{
    width: 100%;
    }
    .FacilityClass >.div-gridBox >H2
    {
    color: #021433;
    }
    .FacilityClass >.div-gridBox>p
    {
    color: #021433; font-size: 18px;
    }
    
    @media only screen and (min-width:700px)
    {
    .FacilityClass > .btn {
    width:310px; 
    }
    .FacilityClass{
    text-align:center;
    color:#fff;
    background-color:white;
    padding: 1rem;
    width: auto;
    } 
    
    .FacilityClass >.div-4Content> H2
    {
    color: #021433;
    }
    .FacilityClass >.div-4Content >p
    {
    color: #021433; font-size: 18px;
    }
    
    .FacilityClass {
    
    display: grid;
    grid-template-columns: 50% 50%;
    }
    
    .FacilityClass > .div-gridBox
    {
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end: 9;
    
    }
    .FacilityClass > .div-4Content
    {
    grid-column-start: 1;
    grid-column-end:3;
    }
    .FacilityClass > .btn
    { 
    grid-column-start: 1;
    grid-column-end:2;
    height:3.5rem
    
    }
    }
    
    @media only screen and (min-width:1000px)
    {
    .FacilityClass >.div-4Content{
    margin-left: 1rem;
    }
    
    .FacilityClass >.div-4Content> H2
    {
    color: #021433;
    }
    .FacilityClass >.div-4Content >p
    {
    color: #021433; font-size: 18px;
    }
    
    .FacilityClass > .btn:hover{
    border-color:skyblue;
    }
    .FacilityClass > .btn {
    width:358px; 
    padding:1.5rem;
    
    }
    
    
    .FacilityClass{
    text-align:left;
    background-color:white;
    padding-left: 2rem;
    width: auto;
    padding:3rem
    } 
    
    .FacilityClass > .div-gridBox > H2
    {
    text-align: center;
    }
    .FacilityClass > .div-gridBox > p
    {
    text-align: center;
    }
    
    
    }
    /* / STARTING OF NEXT TASK / */
    
    .DoctorClass{
    text-align: center;
    color: #fff;
    background-color:#070f35;
    padding: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    }
    
    .arrow
    {
    position: relative;
    top: -9px;
    }
    .DoctorClass > .div-5{
    text-align: left;
    color: #fff;
    background-color:#fff;
    max-width: 450px;
    border-bottom: cyan;
    border-style: solid;
    margin-block-end: 20px;
    padding-bottom: 1rem;
    }
    .DoctorClass > .div-5 >.doctor-image{
    height:325px ;
    }
    
    .DoctorClass > .div-5 >.doctor-image >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    .DoctorClass > .div-5 > p{
    padding-left: 1.8rem;
    
    color: #021433;
    
    margin: 0px;
    max-width: 100%;
    }
    .DoctorClass > .div-5 > H2{
    color: #0099ff;
    text-align: left;
    padding: 0px;
    margin-bottom: 9px;
    }
    @media only screen and (min-width:700px)
    {
    .DoctorClass > .div-5 > H3{
    margin-top: 35px;
    }
    
    .DoctorClass > .div-5{
    width: 325px;
    height: 478px;
    margin: 20px;
    margin-bottom: 40px;
    }
    .DoctorClass > .div-5 >.doctor-image> img{
    
    height: 371px;
    }
    .DoctorClass > .div-5 >.doctor-image{
    width:100%;
    margin-bottom: 3.5rem;
    
    
    }
    .DoctorClass
    {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 120px 500px 30px 500px 40px;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    }
    .DoctorClass > .div-5Content 
    {
    grid-column-start: 1;
    grid-column-end: 5;
    
    
    }
    .DoctorClass > .div-5Content >p 
    {
    padding-left: 1rem;
    padding-right: 1rem;
    
    }
    .DoctorClass > .div-5i
    {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    }
    
    .DoctorClass > .div-5ii
    {
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    }
    .DoctorClass > .div-5iii
    {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    }
    
    .DoctorClass > .div-5iv
    {
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    }
    }
    
    @media only screen and (min-width:1000px)
    {
    
    .DoctorClass
    {
    height: 725px;
    background-color: #00001a;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 0rem;
    
    }
    .DoctorClass > .div-5 >.doctor-image> img{
    max-width: 320px;
    height: 280px;
    }
    .DoctorClass > .div-5Content >p 
    {
    padding-left: 0rem;
    padding-right: 0rem;
    
    }
    .DoctorClass > .div-5 >.doctor-image{
    width:100%;
    margin-bottom: 0rem;
    height:auto
    }
    .DoctorClass > .div-5{
    width: auto;
    height: 420px;
    margin: 3px;
    }
    
    
    .DoctorClass
    {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    
    }
    .DoctorClass > .div-5Content> h3
    {
    text-align: left;
    
    font-size: 2rem;
    }
    .DoctorClass > .div-5Content> p{
    text-align: left;
    
    }
    
    .DoctorClass > .div-5i
    {
    grid-column-start:1;
    grid-column-end: 3;
    
    }
    
    .DoctorClass > .div-5i
    {
    grid-column-start:1;
    grid-column-end: 2;
    
    }
    
    .DoctorClass > .div-5ii
    {
    grid-column-start:2;
    grid-column-end: 3;
    }
    .DoctorClass > .div-5iii
    {
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3 ;
    }
    
    .DoctorClass > .div-5iv
    {
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3 ;
    }
    .DoctorClass >.round-buttons>.rbtn{
    height: 9px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right:0.4rem;
    
    }
    .DoctorClass >.round-buttons>.btn4r{
    margin-right: 6rem;
    }
    .DoctorClass >.round-buttons>.btn1r{
    background-color: blue;
    
    }
    
    
    }
    /* / STARTING OF NEXT TASK / */
    
    .TreatmentClass {
    font-weight: bolder;
    text-align: center ;color: #070f35
    }
    .TreatmentClass>.div-6data
    {

    padding: 1.3rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    }
    .TreatmentClass > p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    }
    
    .TreatmentClass>.div-6srv {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    }
    
    .TreatmentClass .div-6card {
    margin: 9px;
    position: relative;
    }
    
    .TreatmentClass>.div-6srv>.div-6card::before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 180px;
    content: "";
    z-index: 2;
    background: linear-gradient(to top, #00001a , transparent);
    }
    
    .TreatmentClass .div-6card img {
    width: 100%;
    height: 20rem;
    max-width: auto;
    z-index: 1;
    object-fit: cover;
    }
    
    .TreatmentClass .div-6content {
    color: white;
    position: absolute;
    z-index: 2;
    text-align: left;
    bottom: 1%;
    left: 7%;
    margin-bottom: 1rem;
    
    }
    .TreatmentClass .div-6content h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size:1.2rem;
    font-family: LightFont;
    margin-bottom: 0.5rem;
    }
    .TreatmentClass .div-6content p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size:0.9rem;
    font-family: LightFont;
    
    }
    
    
    .TreatmentClass > .div-6srv > .div-6vi
    {
    display: none;
    }
    
    @media only screen and (min-width:700px)
    {
    
    .TreatmentClass>.div-6srv
    {
    display: grid;
    grid-template-columns: 50% 50%;
    }
    .TreatmentClass >.div-6srv > .div-6vi
    {
    display: inline-block;
    }
    
    }
    
    
    @media only screen and (min-width:1000px)
    { 
    .TreatmentClass .div-6card img {
    
    width: 100%;
    height: 100%;
    max-width: auto;
    z-index: 1;
    object-fit: cover;
    }
    .TreatmentClass {
    padding: 6%; 
    }
    .TreatmentClass > .div-6data
    {
    text-align: left;
    }
    .TreatmentClass .div-6card {
    margin: 4px;
    
    }
    .TreatmentClass >.div-6srv > .div-6vi
    {
    display: inline-block;
    }
    .TreatmentClass>.div-6srv
    {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    
    height: 40rem;
    padding: 0px;
    }
    
    .TreatmentClass >.div-6srv > .div-6ii
    {
    grid-column:1/4;
    grid-row :1/4;
    }
    .TreatmentClass >.div-6srv > .div-6i
    {
    grid-column:4/7;
    grid-row :1/6;
    }
    .TreatmentClass >.div-6srv > .div-6iii
    { 
    grid-column:4/7;
    grid-row :6/13;
    }
    .TreatmentClass >.div-6srv > .div-6iv
    {
    grid-column:7/10;
    grid-row :1/5
    }
    
    
    
    .TreatmentClass >.div-6srv > .div-6v
    {
    grid-column:7/10;
    grid-row :5/13
    }
    .TreatmentClass >.div-6srv > .div-6vi
    {
    
    
    grid-column:1/4;
    grid-row :4/11;
    }
    .TreatmentClass>.round-buttons>.rbtn{
    height: 9px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right:0.4rem;
    margin-top: 1rem;
    
    }
    .TreatmentClass>.round-buttons>.btn3r{
    margin-right: 52rem;
    }
    .TreatmentClass>.round-buttons>.btn1r{
    background-color: blue;
    
    }
    }
    
    .ServiceClass {
    padding: 2%;
    padding-bottom: 2rem;
    font-weight: bolder;
    text-align: center ;color: #070f35;
    background-color: #f2f2f2;
    }
    .ServiceClass > .ServiceClassContent > h3
    {
    font-size: 1.7rem;
    }
    .ServiceClass .cards {
    margin-top: 30px;
    width: 100%;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
    color: grey;
    font-weight: 800;
    
    }
    .ServiceClass >.cards>.item> p{
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: BoldFont;
    }
    
    .ServiceClass .cards .item {
    padding: 0px 5px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: #fff;
    height: 135px;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 22px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    }
    
    .ServiceClass .item-a {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    }
    
    .ServiceClass .item-b {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    }
    
    .ServiceClass .item-c {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    }
    
    .ServiceClass .item-d {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    }
    
    .ServiceClass .item-e {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    }
    
    .ServiceClass .item-f {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    }
    
    @media only screen and (min-width:700px)
    {
    
    
    .ServiceClass>.cards
    {
    display: grid;
    grid-template-columns: 35% 35% 35%;
    margin-left: 60px;
    
    }
    .ServiceClass .cards .item {
    
    width: 80%;
    }
    .ServiceClass{
    
    margin-top: 0px;
    padding-right: 6rem;
    }
    .ServiceClass>.ServiceClassContent{
    margin-left: 40px;
    width: 650px;
    }
    
    
    }
    
    @media only screen and (min-width:1000px)
    {
    .ServiceClass>.ServiceClassContent{
    margin-left: 2rem;
    width: 900px;
    }
    .ServiceClass{
    margin-right: auto;
    padding-right: 0px;
    }
    .ServiceClass>.cards
    {
    max-width: 75rem;
    display:flex;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: center; 
    }
    
    .ServiceClass .cards .item {
    background-color: #fff;
    width: 13%;
    height: 150px;
    margin-right: 3px;
    border-radius: 5px;
    
    }
    .ServiceClass{
    background-color: #f2f2f2;
    text-align: left;
    }
    }