.herosec {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp");
    text-align: center;
    background-size: cover;
    height: 100%;
}

.herosec button {
    font-family: LightFont;
    color: white;
    background-color: #0173b2;
    padding: .5rem;
    border: none;
    border-radius: 3px;
    margin: 2rem ;
}

.herosec h1 {
    font-family: BoldFont;
    font-size: 1.6rem;
    margin: 0 2rem 2rem 2rem;
    color: #070f35;
}

.herosec p {
    font-family: LightFont;
    /* font-size: small; */
    margin: 0 2rem;
    padding-bottom: 10rem;
}

.tvastra-plans-hero-section {
    background-image: linear-gradient(to bottom,#9bc8e1 50%,white);
    padding: 1rem;
    text-align: center;
}

.tvastra-plans-hero-section .tvastra-plans {
    background-color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 .7rem -0.4rem black;
    margin-top: -10rem;
}

.tvastra-plans-hero-section .tvastra-plans h1 {
    font-family: BoldFont;
    font-size: x-large;
    padding-top: 2rem;
    margin: 1rem 0 1rem 0;
    color: #070f35;
}

.tvastra-plans-hero-section .tvastra-plans p {
    font-family: LightFont;
    font-size: 15px;
}

.tvastra-plans-hero-section .tvastra-plans .plan-inf {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.199); */
    padding-bottom: 1.5rem;
}

.tvastra-plans-hero-section .tvastra-plans .line {
    background-color: rgba(0, 0, 0, 0.199);
    height: 1px;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

.tvastra-plans-hero-section .tvastra-plans .shortline {
    max-width: 20rem;
}

.tvastra-plans-hero-section .tvastra-plans .short {
    width: 10rem;
}

.tvastra-plans-hero-section .tvastra-plans .plans-class .plan {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.tvastra-plans-hero-section .tvastra-plans h2 {
    font-family: BoldFont;
    font-size: 1.6rem;
    margin: 1rem;
    padding-bottom: 1rem;
    color: #070f35;
}

.tvastra-plans-hero-section .tvastra-plans .plans-class .plan p{
    font-family: LightFont;
    margin: 1rem 2rem 1rem 2rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

.tvastra-plans-hero-section .tvastra-plans .plans-class .plan h3 {
    font-family: BoldFont;
    font-size: x-large;
    margin-top: 3rem;
}

.tvastra-plans-hero-section .tvastra-plans .plans-class .plan .year {
    font-size: small;
}

.tvastra-plans-hero-section .tvastra-plans .plans-class .plan .plan-details {
    /* font-size: small; */
    font-weight: BoldFont;
    color: #24a3dc;
}

.tvastra-plans-hero-section .tvastra-plans .plans-class .plan button {
    font-family: LightFont;
    color: white;
    background-color: #0173b2;
    padding: .5rem;
    border: none;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 1.6rem;
}

.tvastra-plans-hero-section .tvastra-plans .plans-class .advance {
    background-image: linear-gradient(to bottom,#b3d5e8 50%,white);
    margin: .5rem;
    margin-bottom: 2.5rem;
}

.tvastra-plans-hero-section .tvastra-plans .plans-class .advance .popular{
    background-color: #008000;
    border-radius: 20px;
    color: white;
    font-family: LightFont;
    width: fit-content;
    padding: .3rem .8rem;
    align-self: center;
    margin-top: -.7rem;
    font-size: small;
}

.ratings-hero-section {
    text-align: center;
}

.ratings-hero-section h1{
    font-family: BoldFont;
    font-size: x-large;
    padding: 0rem 2rem 0.6rem 2rem;
    color: #070f35;
}

.ratings-hero-section p {
    font-family: LightFont;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-top: 0rem;
}

.ratings-hero-section .overall-rating-class h2{
    color:  #0173b2;
    font-family: BoldFont;
    font-size:3rem;
    margin-bottom: 0.2rem;
}

.ratings-hero-section .overall-rating-class i {
    font-size: smaller;
    color: #0173b2;
}

.ratings-hero-section .overall-rating-class p {
    color: #0173b2;
}

.ratings-hero-section .overall-rating-class .scoreboard {
    display: grid;
    grid-template-columns: 5% auto;
    gap: 1rem;
    margin: 0 6rem;
}

.ratings-hero-section .overall-rating-class .scoreboard p{
    font-family: BoldFont;
    margin: 0;
    padding: 0;
}

.ratings-hero-section .overall-rating-class .scoreboard .bar {
    width: 100%;
    height: 1rem;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.274);
}

.ratings-hero-section .overall-rating-class .scoreboard .bar .frequency {
    height: 1rem;
    background-color: #0173b2;
    border-radius: 10px;
}

.icon-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3rem 1rem 3rem 1rem;
    text-align: center;
}

.icon-container .icon-point {
    display: flex;
    flex-direction: column;
}

.icon-container .icon-point i {
    font-size: xx-large;
    margin-bottom: 1rem;
    color: #0173b2;
}

.icon-container .icon-point h2 {
    font-family: BoldFont;
    font-size: 1.4rem;
    color: #0173b2;
    margin-bottom: 0rem;
}

.icon-container .icon-point p {
    font-family:LightFont;
    /* font-size: small; */
    margin-bottom: 2rem;
    color: rgb(4, 71, 110);
}

.advantages-hero {
    margin: 1rem;
    text-align: center;
}

.advantages-hero p {
    font-family: LightFont;
    margin-bottom: 1rem;
    /* text-align: center; */
}

.advantages-hero .line {
    background-color: #0174b25b;
    height: 3px;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
    width: 15rem;
}

.advantages-hero .advantages-grid h1{
    font-family: BoldFont;
    font-size: 1.5rem;
    color: #070f35;
}

.checkpoints {
    display: grid;
    grid-template-columns: 10% auto;
    margin: 2rem 2rem;
    text-align: left;
    gap: .5rem;
}

.checkpoints i {
    color: #80b9d8;
    margin-top: 1.4rem;
}

.checkpoints p {
    font-family:LightFont;
}

.advantages-hero .advantages-grid .hospitals-onboard-grid .hospitals-onboard {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 1rem 0;
}

.advantages-hero .advantages-grid .hospitals-onboard-grid .hospitals-onboard img {
    margin: 0 2rem;
  
}



.features {
    display: flex;
    flex-direction: column;
}

.features .feature h1 {
    font-family: BoldFont;
    font-size: x-large;
    margin: 2rem;
    text-align: center;
    color: #070f35;
}

.features img {
    margin: 1rem;
    border-radius: .8rem;
}

.tests-hero h1 {
    font-family: BoldFont;
    font-size: large;
    margin: 2rem;
    text-align: center;
}

.tests-hero .tests-list {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 2rem 1rem 2rem;
    gap: .5rem;
}

.tests-hero .tests-list .test {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 0 10px -7px black;
}

.tests-hero .tests-list .test img {
    height: 50%;
    width: 50%;
    align-self: center;
}

.tests-hero .tests-list .test h2 {
    font-family: BoldFont;
    font-size: medium;
    margin-bottom: 1.5rem;
}

.tests-hero .tests-list .test p {
    font-family: LightFont;
    margin-bottom: 1rem;
}

.tests-hero .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tests-hero .carousel .dot {
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: gray;
    margin: 1rem .2rem;
}

.tests-hero .carousel .active {
    background-color: rgb(4, 71, 110);
}

.love-hero .love {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.love-hero .love h1  {
    font-family: BoldFont;
    font-size: x-large;
    margin: 1rem;
    color: #070f35;
}

.love-hero .love button {
    font-family: LightFont;
    color: white;
    background-color: #0173b2;
    padding: .5rem;
    border: none;
    border-radius: 3px;
}

.love-hero .reviews-hero {
    display: flex;
    flex-direction: column;
}

.love-hero .reviews-hero .review {
    text-align: left;
    margin: .33rem 1rem;
    padding: 1rem;
    box-shadow: 0 0 15px -10px black;
}

.love-hero .reviews-hero .review h3 {
    font-family: BoldFont;
    text-align: left;
    font-size: 1rem;
}

.love-hero .reviews-hero .review .review-user {
    display: grid;
    grid-template-columns: 15% auto;
    gap: .9rem;
    margin: 1rem 0;
}

.love-hero .reviews-hero .review .review-user img {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.love-hero .reviews-hero .review .review-user h2 {
    font-family: BoldFont;
    font-size: medium;
}

.love-hero .reviews-hero .review .review-user h4 {
    font-family: BoldFont;
    /* font-size: small; */
    color: #2387bf;
    background-color: #cce3f0;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    width: fit-content;
}


@media only screen and (min-width: 768px){
    .herosec {
        text-align: left;
    }

    .tvastra-plans-hero-section .tvastra-plans .plans-class {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }

    .ratings-hero-section .overall-rating-class {
        display: grid;
        grid-template-columns: 30% auto;
        align-items: center;
        margin: 0 10rem;
    }

    .icon-container {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         margin: 2rem 3rem;
    }
    
    .advantages-hero .advantages-grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .features {
        display: grid;
        grid-template-columns: auto auto;
        padding: 2rem;
        gap: 1rem;
        text-align: left;
    }

    .features .feature-img-one {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .features .feature-img-three {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .features img {
        max-width: 100%;
        max-height: 100%;
    }

    .tests-hero h1 {
        text-align: left;
        padding: 1rem;
    }

    .tests-hero .tests-list {
        margin: 0 4rem;
    }

    .tests-hero .tests-list .test img {
        width: 20%;
    }

    .love-hero {
        margin: 0 2rem;
    }

    .love-hero .love {
        justify-content: flex-start;
        margin-left: 2rem;
    }

    .love-hero .reviews-hero {
        display: grid;
        grid-template-columns: auto auto;
    }

   
}

@media only screen and (min-width: 1024px){
    .herosec {
        padding: 3.5rem;
    }

    .tvastra-plans-hero-section .tvastra-plans{
        margin: 0 4rem;
        margin-top: -10rem;
    }

    .ratings-hero-section {
        margin: auto;
        max-width: 85rem;
    }

    .ratings-hero-section p {
        margin: 0 8rem;
    }

    .ratings-hero-section .overall-rating-class p {
        margin: 0;
    }

    .icon-container {
        margin: auto;
        max-width: 85rem;
        margin-top: 3rem;
    }

    .advantages-hero {
        max-width: 85rem;
        margin: auto;
        margin-top: 2rem;
    }

    .advantages-hero .advantages-grid {
        margin: 0 4rem;
    }

    .features {
        grid-template-columns: 33.3% 33.3% 33.3%;
        padding: 1rem 6rem;
        /* width: 80rem; */
        margin: auto;
    }

    .features .feature {
        margin: auto;
    }

    .features .feature-img-one{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .features .feature-one {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .features .feature-two {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .features .feature-three {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .tests-hero {
        max-width: 95rem;
        margin: auto;
    }

    .tests-hero .tests-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tests-hero .tests-list .test {
        width: 100%;
    }

    .tests-hero .tests-list .test img {
        align-self: baseline;
    }

    .love-hero {
        margin: auto;
        max-width: 95rem;
    }

    .love-hero .reviews-hero {
        display: flex;
        flex-direction: row;
        margin-left: 2rem;
    margin-right: 2rem;
    }

    .love-hero .reviews-hero .review {
        max-width: 100%;
        margin: .33rem;
    }

 
}

.about_data{
    margin-top:2rem ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 6%;
    padding-bottom: 2rem;
    justify-content: flex-start
}
.about_data >h1{
    font-family: BoldFont;
    font-size: x-large;
       color: #070f35;
   
}
.about_specialization>p{
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #c2ddef;
  
}
.about_data>.about_container{
    display: grid;
    grid-template-columns: 59vw 28vw;
    border: 1px solid #cccc;
}

.about_data>.about_container>.about_section{
    padding: 4rem 2rem 0rem 4rem;
}


.about_list{
    padding-bottom: 2rem;
}
.about_data>.about_container>.about_section>.about_para>p{
    font-size: 1.4rem;
    line-height: 1.9;
}



.about_specialization{
    border-top: 1px dotted #cccc;
    border-bottom: 1px dotted #cccc;
    padding: 2rem 0;
    align-items: center;
}
.about_specialization>i{
    font-size: 1.5rem;
    color: #87ceeb;;
}

.about_specialization>h4{
    display: inline-block;
    font-size: 1.4rem;
    font-family: BoldFont;
    color: #006bb3;
    padding-left: 1rem;
}

.active > p{
    display: block;
}
.circle{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #87ceeb;
    float: right;
    /* margin-left: -2rem; */
}
.circle:hover{
    cursor: pointer;
}
@media only screen and (min-width:700px){

.about_location_beds{
    display: grid;
    grid-template-columns: 40vw 13vw;

}
.about_data > h1
{
    justify-content: flex-start
    /* margin-right: 22rem; */
}

.about_location_beds>div{
    display: flex;
    padding-bottom: 2rem;
}
}
.about_location_beds>div>i{
    padding-right: 1rem;
    color: #87ceeb;
    align-self: center;
}
@media only screen and (max-width: 1024px){

    .about_data{
        padding: 0 1rem;
    }
    .about_data > h1 {
        margin-left: 2rem;
    }
    .about_heading{
        padding: 1rem;
    }

    .about_data>.about_container {
        grid-template-columns: 63vw 33vw;
    }
    .about_data>.about_container>.about_section {
        padding: 2rem 1rem 0rem 2rem;
    }
  
    .about_data>.about_container>.about_section>.about_name>h3 {
        font-size: 1.5rem;
    }
   
    .about_data>.about_container>.about_section>.about_para>p{
        font-size: 1rem;
        line-height: 1.6rem;
    }
 
  
    .about_specialization>h4 {
        font-size: 1.2rem;
    }


 
}

@media only screen and (max-width: 700px){

    .about_data{
        display: grid;
        padding-bottom: 1rem;
    }
    .about_data>.about_container{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
  
 
    .about_data>.about_container>.about_section {
        padding: 1rem 1rem 0rem 1rem;
        width: 91%;
    }

}
