.banner
{
    position: relative;
    text-align: center;
    height: 250px;
    object-fit:cover;
    display: grid;
    /* grid-template-columns: auto; */
}
.banner > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 1;
}

.banner::before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 2;
    opacity: 0.6;
    background-image: linear-gradient(to right,#4293c5 60%, transparent 90%);
}
.banner .banner-content{
    position: absolute;
    z-index: 2;
    align-self: center;
    justify-self: center;
    text-align: center;
    color:white;
}

.banner > .banner-content > h1
{
    font-size: 1.7rem;
    font-family: BoldFont;
}

.banner > .banner-content > h2
{
    font-size: 1rem;
    font-family: LightFont;
}
.dentist-data
{
    height:2rem;
    text-align: center;
    font-size: 1.5rem;
   
}
.dentist-data >h1{
    font-family: BoldFont;
}

.dentist-treatment-image

{
    height: 17rem;
    object-fit:cover;
    margin: 0.7rem;
}
.dentist-treatment-image > img
{
    height: 100%;
    width: 100%;    
    object-fit:cover;
}

.dentist-inf
{
    margin: 0.7rem;
    margin-top: 3.5rem;
}
.dentist-inf > h2
{
    margin:1rem;
    margin-left: 0rem;
    font-size: 1.2rem; 
    margin-bottom: 1.2rem;
}
.dentist-inf > ul > li
{
    font-family: LightFont;
    margin-bottom: 0.4rem;
}
.dentist-inf >ul {
    list-style-type: disc;
    margin: 0.5rem;
    list-style-position: inside;
    /* display: grid;
    grid-template-columns: auto;
    row-gap: 0.5rem; */
}
.dentist-inf > li{
margin: 1rem;
padding: 1rem;
}

@media only screen and (min-width:700px)
{
    .data-inf
    {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        padding-top: 0rem;
    }
    .dentist-inf
    {
        margin-top: 2.7rem;
    }
    .data-inf >.dentist-treatment-image>.dentist-data>h1
    {
        text-align: left;
    }
}

.treatments
{
    margin: 1rem;
    text-align: center;
  
}
.treatments ul li h2
{
  font-size: 1.2rem;
}
.treatments ul li i {
    align-self: center;
    font-size: 2rem;
    line-height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: skyblue;
    text-align: center;
}
.treatments li{
margin-bottom: 2rem;
}


@media only screen and (min-width:700px)
{
    .treatments >ul
    {
        display: flex;
        margin-top: 1rem;
        flex-direction: row;
    }
    .treatments >ul >li
    {
        padding: 1.5rem;
    }
    .treatments li
    {
        margin-bottom: 0rem;
    }
}

.service-schedule {
    margin: 1rem;
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
    align-content: flex-start;
    align-items: flex-start;
}
.service-schedule .common {
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
    text-align: left;
    /* border-color: black; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 1.5rem;
    justify-content: stretch;
    justify-items: stretch;
    align-content: flex-start;
    align-items: flex-start;
}
.common h2 {
    position: relative;
    font-size: 1.2rem;
}
.common h2::before{
    content: '\2015';
    font-size: 1.5rem;
    position: absolute;
    left: -1.5rem;
    top: -3px;
    color: skyblue;
    font-family:BoldFont;
}
.service-schedule .common ul {
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
}
.service-schedule .common ul li{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
.common ul li h3, .common ul li span {
    font-size: 0.85rem;
    line-height: 1rem;
    font-family: BoldFont;
} 

.common ul li span {
    opacity: 0.4;
}

@media only screen and (min-width:700px)
{
.service-schedule
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1.5rem;
    padding-top: 0rem;
    margin-top: 0rem;
}
.service-schedule .common
{
    padding: 1.5rem 1rem 2rem 1.5rem;
    width: 18.2rem;
}
}

.container {

    background: #9cbfda;   
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 1.5rem;
  }
.container > .container-heading
{
    font-size: 1.8rem;
    color: white;
    text-align: center;
}
  
  .container .all-card .card-box {
  
    height: fit-content;
    height: 100%;
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .container .all-card .card-box .card-img-box img
  {
      width: 97.5%;
      height: 100%;
  }
  .container .all-card .card-box .card-img-box
  {
      width: 20rem;
  }
  .container .all-card .card-box h2
  {
    position: relative;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
  }

  .container .all-card .card-box  h2::before{
    content: '\2015';
    font-size: 1.5rem;
    position: absolute;
    left: -1.5rem;
    top: 13px;
    color: skyblue;
    font-family:BoldFont;
}
@media only screen and (min-width:700px)
{
.container
{
    padding-bottom: 3.7rem;
}

    .container .container-heading
    {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        

    }
    .container .container-heading .arrows
    {
        margin-top: 1rem;
    }

    .container .all-card
    {
            display:grid;
            grid-template-columns:auto auto auto;
            width: 100%;
            margin: 0rem;
            grid-gap: 0.5rem;
    }
    .container .all-card .card-box
    {
        width: 15rem;
    
    }
    .container .all-card .card-box .card-img-box {
    width: 15rem;
    }
    .container .all-card .card-box .card-img-box img
  {
      width: 100%;
  }
  .container > .container-heading>.arrows
  {
    text-align: right;
  }
}


@media only screen and (min-width:1000px)
{
    .service-schedule
    {
        padding: 2rem;
    }
    .service-schedule .common {
    width: 33rem;
    }
    .container .all-card .card-box 
    {
        width: 20rem;
    }
    .container .all-card .card-box .card-img-box img {
    width: 133.5%;
    }
}